@for $i from 41 through 100 {
  .hocr.confidence .ocrx_word[title$="x_wconf #{$i}"] {
    background-color: hsla(100, 100%, calc($i * 1%), 0.25);
  }
}

@for $i from 0 through 40 {
  .hocr.confidence .ocrx_word[title$="x_wconf #{$i}"] {
    color: #fff;
    background-color: hsla(0, 100%, calc($i * 1%), 0.75);
  }
}

.hocr {
  padding: 1rem;
  background-color: #ffffff;
  resize: both;
  overflow: auto;
  -webkit-user-select: all;
  user-select: all;
  z-index: 2;
  flex-grow: 1;
  height: var(--mysize);
  font-size: 1.1rem;
}

.hocr:focus {
  animation: select 100ms step-end forwards;
}

.ocr_line {
  display: block;
  // display: flex;
  // justify-content: space-between;
  // gap: 0.4rem;

}